.form-container{
    border:solid 1px #ede8e8;
    padding:15px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: #4f4545;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.error-message{
    color: red;
}

.login-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.create-acc-btn{
    background-color: transparent;
    border-width: 0px;
    color: blue;
    font-size: 14px;
    cursor: pointer;
}
.username-container label{
    color: #4f4545;
    font-size: 14px;
    font-weight: bold;
}
.username-container{
    padding: 5px;
}
.username-container input{
    height: 25px;
    width: 180px;
    border: solid #5c5b5b 1px;
    border-radius: 2px;
    padding: 5px;
    margin-top: 3px;
}
.password-section label{
    margin-top: 8px;
    color: #4f4545;
    font-size: 14px;
    font-weight: bold;
}
.password-section{
    padding: 5px;
}
.password-section input{
    margin-top: 3px;
    height: 25px;
    width: 180px;
    border: solid #5c5b5b 1px;
    border-radius: 2px;
    padding: 5px;
}
.login-btn{
    background-color: blue;
    border-width: 0px;
    padding: 10px;
    color: #ffffff;
    width: 180px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.btn-section{
    padding: 5px;
}
.create-new{
    font-size: 14px;
    
}